/* featureセクションのカードの上書きデザイン */
.feature__card-item {
    border-radius: 28px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.feature__card-item .img__wrapper{
    width: 100%;
    max-height: 226px;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    overflow: hidden;
}


.feature__card-item .card__text{
    background-color: #fff;
    font-size: 19px;
}

/* productsセクションのカードの上書きデザイン */
/* カード */
.products__card {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px 50px;
}

.card.products__card-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--accent-color);
    border-radius: 28px;
    padding: 1rem 1.75rem;
    color: #fff;
    gap: 1.5rem;
}

/* 各カードのデザイン */
.card.products__card-item--01 {
    grid-column: span 3 / span 3;
    height: 180px;
    padding-right: 20%;
}

.card.products__card-item--02 {
    grid-column: span 3 / span 3;
    grid-column-start: 4;
    height: 180px;
    padding-right: 20%;
}

.card.products__card-item--03 {
    grid-column: span 2 / span 2;
    grid-row-start: 2;
    height: 150px;
    padding-right: 10%;
    gap: 0;
}

.card.products__card-item--04 {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 2;
    height: 150px;
    padding-right: 10%;
    gap: 0;
}

.card.products__card-item--05 {
    grid-column: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 2;
    height: 150px;
    padding-right: 10%;
    gap: 0;
}

/* カードイメージ */
.card.products__card-item .img__wrapper {
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: auto;
}

.card.products__card-item--03 .img__wrapper,
.card.products__card-item--04 .img__wrapper,
.card.products__card-item--05 .img__wrapper {
    width: 110px;
    height: 110px;
}

.card.products__card-item .card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* カード内イメージ（丸抜き）の位置調整 */
.card.products__card-item--01 .card__img {
    transform: scale(1.5) translateX(11%) translateY(-6%);
}

.card.products__card-item--02 .card__img {
    transform: scale(1.3) translateX(2%) translateY(5%);

}

.card.products__card-item--03 .card__img {
    transform: scale(1.4) translateX(-8%) translateY(-8%);
}

.card.products__card-item--04 .card__img {
    transform: scale(1) translateX(0%) translateY(0%);
}

.card.products__card-item--05 .card__img {
    transform: scale(2.1) translateX(-4%) translateY(18%);
    object-fit: contain;
}

.card.products__card-item .card__text {
    display: flex;
    align-items: center;
    width: 60%;
    box-shadow: none;
    padding: 0;
    font-size: var(--font-size-xl);
}

.card.products__card-item--03 .card__text,
.card.products__card-item--04 .card__text,
.card.products__card-item--05 .card__text {
    font-size: var(--font-size-lg);
    width: 52%;
}


/* featureCaseセクションのカードの上書きデザイン */
.feature-case__card-item {
    box-shadow: none;
    background-color: var(--sub-color);
}

.feature-case__card-item .img__wrapper {
    max-height: 226px;
    border-radius: 28px;
}

.feature-case__card-item--01 .card__img {
    transform: scale(1.3) translateX(1%) translateY(-22%);
}

.feature-case__card-item--02 .card__img {
    transform: scale(1.1) translateX(3%) translateY(-33%);
}

.feature-case__card-item--03 .card__img {
    transform: scale(1.3) translateX(0%) translateY(2%);
}

.card.feature-case__card-item .card__text {
    width: 100%;
    height: auto;
    color: var(--text-color-sub);
    font-weight: var(--font-weight-bold);
    font-size: 1.2rem;
    padding: 0.5rem 0;
}

/* 特徴セクションのカードデザイン上書き */
.feature-spec__card-item {
    box-shadow: none;
}

.feature-spec__card-item .card__img {
    border-radius: 28px;
}

.card.feature-spec__card-item .card__text {
    color: var(--text-color);
    font-weight: var(--font-weight-bold);
    font-size:18px;
    padding: 1rem 0;
    line-height: 1.7;
}


@media (max-width: 767px) {

    /* featureセクションのカードの上書きデザイン(SP) */
    .feature__card-item .img__wrapper {
        max-height: 201px;
        
    }

    .card.feature__card-item .card__text {
        font-size: 18px;
        padding: 1rem;
        text-align: left;
        margin: 0;
        line-height: 1.6;
    }

    /* productsセクションのカードの上書きデザイン(SP) */
    .products__card {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    }

    .card.products__card-item {
        height: 140px;
        min-height: 0;
        padding: 1rem 2rem 1rem 1rem;
        gap: 1rem;
    }

    .card.products__card-item .img__wrapper {
        width: 100px;
        height: 100px;
        margin: 0 auto
    }


    .card.products__card-item .card__text {
        display: flex;
        align-items: center;
        width: 60%;
        padding-right: 1rem;
        font-size: 18px;
        line-height: 2;
        text-align: left;
    }

    .card.products__card-item--02 .card__text {
        padding-right: 2.6rem;
    }

    /* featureCaseセクションのカードの上書きデザイン(SP) */

    .feature-case__card-item .img__wrapper {
        width: 100%;
        height: auto;
        max-height: 201px;
    }

    .feature-case__card-item .card__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .feature-case__card-item--01 .card__img {
        transform: scale(1.1) translateX(0%) translateY(-26%);
    }

    .feature-case__card-item--02 .card__img {
        transform: scale(1) translateX(3%) translateY(-33%);
    }

    .feature-case__card-item--03 .card__img {
        transform: scale(1.05) translateX(0%) translateY(-4%);
    }


    .card.feature-case__card-item .card__text {
        font-size: 18px;
        padding: 0.75rem 0;
        text-align: left;
    }

    /* 特徴セクションのカードデザイン上書き(SP) */

.card.feature-spec__card-item .card__img {
    border-radius: 18px;
}
.card.feature-spec__card-item .card__text {
    color: var(--text-color);
    font-weight: var(--font-weight-bold);
    font-size:18px;
    padding: 1rem 0;
    text-align: left;
}

}