.card[data-astro-cid-dohjnao5],
.card[data-astro-cid-dohjnao5] [data-astro-cid-dohjnao5] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.card[data-astro-cid-dohjnao5] {
    width: 100%;
}
.img__wrapper[data-astro-cid-dohjnao5] {
    width: 100%;
    overflow: hidden;
}
.card__img[data-astro-cid-dohjnao5] {
    display: block;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
}
.card__text[data-astro-cid-dohjnao5] {
    width: 100%;
    padding: 1rem;
    border-bottom-right-radius: 28px;
    border-bottom-left-radius: 28px;
}
@media (max-width: 767px) {
    .card__text[data-astro-cid-dohjnao5] {
        padding: 0;
        text-align: center;
    }
}
