---
interface Props {
    imgSrc: string;
    alt:string;
    text: string;
    className?: string;
}

const { imgSrc,alt ,text, className = '' } = Astro.props;
---

<div class={`card ${className}`}>
    <div class="img__wrapper">
        <img src={imgSrc} alt={alt} class="card__img" />
    </div>
    <p class="card__text">{text}</p>
</div>

<style>
    .card {
        width: 100%;
        overflow: hidden;
    }
    .card__img {
        width: 100%;
        display: block;
        object-fit: cover;
    }

    .card__text{
        padding: 1rem;
    }
</style>
