---
import Card from './Card.astro'
---

<section class="feature-spec">
    <div class="l-wrapper">
        <div class="feature-spec__container l-inner">
            <h2 class="feature-spec__heading font-bold">特徴</h2>
            
            <div class="feature-spec__card flex pt-6">
                <Card
                    imgSrc="/assets/image/feature_spec_img_01.jpg"
                    alt=""
                    text="自動操縦が可能で、短時間で大量の農作物を監視、収穫、播種、散布などの作業ができます。"
                    className="feature-spec__card-item"
                />

                <Card
                    imgSrc="/assets/image/feature_spec_img_02.jpg"
                    alt=""
                    text="高精度のカメラやセンサーを搭載しており、正確な土壌・作物の情報を収集でき、水や肥料などの資源を適切に配分できます。"
                    className="feature-spec__card-item"
                />

                <Card
                    imgSrc="/assets/image/feature_spec_img_03.jpg"
                    alt=""
                    text="必要な場所にだけ肥料や農薬を散布することができます。これにより、農薬や肥料の過剰使用が抑えられ、環境負荷やコスト削減に繋がります。"
                    className="feature-spec__card-item"
                />
            </div>
        </div>
    </div>
</section>

<style>
    .feature-spec__container{
        padding-block:4rem ;
    }
    .feature-spec__heading{
        font-size: 1.75rem;
    }
    .feature-spec__card{
        gap: 2rem;
    }
</style>