---
import Card from './Card.astro'
---

<section class="feature">
    <div class="l-wrapper bg-sub">
        <div class="feature__container l-container">
            <p class="text-center color-text-sub font-bold en">Features</p>
            <h2 class="feature__heading text-center font-bold">私たちが選ばれる3つの理由</h2>
            
            <div class="feature__card flex pt-6 font-bold">
                <Card
                    imgSrc="/assets/image/feature_img_01.jpg"
                    alt=""
                    text="農業の未来と革新的デザイン性で最新鋭の機能を完備"
                    className="feature__card-item"
                />

                <Card
                    imgSrc="/assets/image/feature_img_02.jpg"
                    alt=""
                    text="ビッグデータを駆使して、省電力・効率化を実現"
                    className="feature__card-item"
                />

                <Card
                    imgSrc="/assets/image/feature_img_03.jpg"
                    alt=""
                    text="自動運転技術を搭載したロボットで一年中稼働することができる"
                    className="feature__card-item"
                />
            </div>
        </div>
    </div>
</section>

<style>
    .feature__container{
        padding-block:4rem ;
    }
    .feature__container>p{
        font-size: 20px;
    }
    .feature__card{
        gap: 2rem;
}
@media screen and (max-width: 767px) {
    .feature__card{
        flex-direction: column;
    }
}
</style>