---
import Card from './Card.astro'
---

<section class="feature-case">
    <div class="l-wrapper bg-sub">
        <div class="feature-case__container l-container py-15 px-3 sm:py-10">
            <p class="text-center color-text-sub font-bold en">Case</p>
            <h2 class="feature-case__heading text-center font-bold">お客様の事例紹介</h2>
            
            <div class="feature-case__card flex pt-6 sm:pt-4 sm:px-1">
                <Card
                    imgSrc="/assets/image/case_img_01.jpg"
                    alt=""
                    text="利用開始後焼く1年で売上が150%増加"
                    className="feature-case__card-item feature-case__card-item--01"
                />

                <Card
                    imgSrc="/assets/image/case_img_02.jpg"
                    alt=""
                    text="無駄な作業が減り、30%のコストカットに成功"
                    className="feature-case__card-item feature-case__card-item--02"
                />

                <Card
                    imgSrc="/assets/image/case_img_03.jpg"
                    alt=""
                    text="24時間対応のサポートデスクがあるのも安心です"
                    className="feature-case__card-item feature-case__card-item--03"
                />
            </div>
        </div>
    </div>
</section>

<style>
    .feature-case__container>p{
        font-size: 20px;
    }
    .feature-case__card{
        gap: 2rem;
    }

@media screen and (max-width: 767px) {
    .feature-case__card{
        flex-direction: column;
        gap:0.75rem;
    }

        .feature-case__container>p{
           font-size: 1rem;
    }

    
    .feature-case__heading{
    font-size: var(--font-size-lg)
    }
}
</style>