<footer class="footer bg-sub">
    <div class="footer__inner l-container-full flex items-center justify-center">
            <p class="text-center">© 2025サイト名。 All rights reserved.</p>
    </div>
</footer>

<style>
    .footer{
        height: var(--footer-height);
    }

    .footer__inner{
        height: 100%;
    }
</style>
