<footer class="footer bg-accent">
    <div class="footer__inner l-container-full flex items-center justify-center">
            <p class="color-white">価格・スペック</p>
            <span class="ml-4 mr-4">|</span>
            <p class="color-white">よくあるご質問</p>
    </div>
</footer>

<style>
    .footer{
        height: var(--footer-height);
    }

    .footer__inner{
        height: 100%;
    }
</style>
