---
import siteData from '../../siteData.mjs';
const { currentPath } = Astro.props;
---

<header class="l-header flex items-center">
    <div class="header__container l-container flex items-center px-6">
        <div class="header__inner flex w-full">
            <a href="/" class="header__logo block flex items-center"><img src="/assets/image/logo.png" alt="" /></a>

            <!-- ハンバーガーボタン（SP用） -->
            <button class="hamburger openbtn" aria-label="メニューを開く">
                <span></span><span></span><span></span>
            </button>

            <!-- メニュー -->
            <!-- PCナビ -->
            <nav class="header__nav pc-nav">
                <ul class="header__nav-inner flex items-center font-bold">
                    <li>
                        <a href={siteData.price.path} class={currentPath === '/price' ? 'is-active' : ''}
                            >価格・スペック</a
                        >
                    </li>
                    <li>
                        <a href={siteData.faq.path} class={currentPath === '/faq' ? 'is-active' : ''}>よくあるご質問</a>
                    </li>
                </ul>
            </nav>

            <!-- スマホナビ -->
            <nav id="global-nav" class="sp-nav font-bold">
                <ul>
                    <li><a href="/">トップ</a></li>
                    <li><a href={siteData.price.path}>価格・スペック</a></li>
                    <li><a href={siteData.faq.path}>よくあるご質問</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<style>
    .l-header {
        height: var(--header-height);
    }

    .header__logo img {
        width: 50%;
    }

    .sp-nav {
        display: none;
    }
    .hamburger {
        display: none;
    }
    .header__nav {
        margin-left: auto;
    }

    .header__nav li {
        white-space: nowrap;
    }
    .header__nav-inner {
        width: 100%;
        height: 100%;
        gap: 2rem;
    }

    .header__nav-inner a.is-active {
        color: var(--text-color-sub);
        font-weight: bold;
    }

    .header__nav-inner a,
    .sp-nav a {
        position: relative;
        text-decoration: none;
        color: inherit;
        transition: color 0.3s ease;
    }

    .header__nav-inner a::after,
    .sp-nav a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: var(--text-color-sub);
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease;
    }

    .header__nav-inner a:hover,
    .sp-nav a:hover {
        color: var(--text-color-sub);
    }

    .header__nav-inner a:hover::after,
    .sp-nav a:hover::after {
        transform: scaleX(1);
    }

    @media (max-width: 47.9375rem) {
        .l-header {
            height: var(--sp-header-height);
        }

        .header__container {
            padding: 0;
        }

        .header__inner {
            padding: 0.75rem 0 0.75rem 1rem;
            width: 100%;
            justify-content: space-between;
        }

        .header__logo img {
            width: 60%;
        }

        .sp-nav {
            display: block;
        }
        .hamburger {
            display: inline-block;
        }
        .header__nav {
            display: none;
        }
    }
</style>
