<section class="hero">
    <div class="l-wrapper">
        <div class="l-container">
            <div class="hero__text l-row mb-16">
                <div class="l-col font-bold pl-8">
                    <h1>
                        持続可能な農業を目指す
                    </h1>
                </div>
                <div class="l-col font-bold">
                    <p>キラメキファームは革新的デザインの農業機器で未来の農業を実現。ビッグデータ・自動運転ロボット・リジェネラティブ農業で環境に優しい効率化を目指す。</p>
                </div>
            </div>
            <img src="/assets/image/hero_top_main.jpg" alt="" class="mb-auto">
        </div>
    </div>
</section>

<style>
    .hero {
        width: 100%;
    }

    .hero__text{

    }
    .hero__text p {
        font-size:1rem;
    }
    @media screen and (width <=47.9375rem) {

    }
</style>
