<section class="hero">
    <div class="l-wrapper">
        <div class="l-container-full">
            <div class="hero__text l-row">
                <div class="l-col text-center">
                    <h1>
                        持続可能な農業を目指す
                    </h1>
                </div>
                <div class="l-col text-center">
                    <p>テキストテキスト</p>
                </div>
            </div>
            <img src="/assets/image/hero_top_main.jpg" alt="" class="mb-auto">
        </div>
    </div>
</section>

<style>
    .hero {
        width: 100%;
    }
    .hero__text h1{
        font-size: var(--font-size-2xl);
    }
    .hero__text p {
        font-size:1rem;
    }
    @media screen and (width <=47.9375rem) {
        .hero {

        }

        .hero__inner {

        }

        .font__logo {
            font-size: 2.5625rem;
            line-height: 1.2;
        }

        .hero__text p {
            margin-top: 0.625rem;
            font-size: 1.25rem;
            white-space: nowrap;
        }
    }
</style>
