---
// components/NewsItem.astro
interface Props {
    date: string;
    category: string;
    title: string;
}

const { date, category, title } = Astro.props;
const categoryClass = category === 'ニュースリリース' ? 'badge--release' : 'badge--notice';
---

<div class="news-item flex items-center py-4">
    <div class="news-date font-bold">{date}</div>
    <span class={`news-badge text-center ${categoryClass}`}>{category}</span>
    <div class="news-title font-bold pl-2">{title}</div>
</div>


<style>
    .news-item {
        gap: 20px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    .news-date {
        width: 90px;
        color: #666;
    }
    .news-badge {
        display: inline-block;
        font-size: 13px;
        padding: 6px;
        border-radius: 4px;
        color: white;
        width: 15%;
    }
    .badge--notice {
        background-color: #473221;
    }
    .badge--release {
        background-color: #473221;
    }
    .news-title {
        flex: 1;
        color:var(--text-color-sub);
    }

</style>