---
import Card from './Card.astro';
---

<section class="products">
    <div class="l-wrapper">
        <div class="products__container l-container pt-16 px-12 pb-8 sm:pt-12 sm:px-4 sm:pb-16">
            <p class="text-center color-text-sub font-semibold en">Products / Service</p>
            <h2 class="products__heading text-center font-bold">製品・サービス紹介</h2>

            <div class="products__card pt-4 font-bold">
                <Card
                    imgSrc="/assets/image/products_service_img_01.jpg"
                    alt=""
                    text="エネルギーセイバー農業ドローン"
                    className="products__card-item products__card-item--01 flex"
                />

                <Card
                    imgSrc="/assets/image/products_service_img_02.jpg"
                    alt=""
                    text="プログレッシブハーベストボット"
                    className="products__card-item products__card-item--02 flex"
                />
                <Card
                    imgSrc="/assets/image/products_service_img_03.jpg"
                    alt=""
                    text="フューチャーファームマスター"
                    className="products__card-item products__card-item--03 flex"
                />

                <Card
                    imgSrc="/assets/image/products_service_img_04.jpg"
                    alt=""
                    text="ミラクルグローアシスト"
                    className="products__card-item products__card-item--04 flex"
                />

                <Card
                    imgSrc="/assets/image/products_service_img_05.jpg"
                    alt=""
                    text="インテリジェントプランター"
                    className="products__card-item products__card-item--05 flex"
                />
            </div>
        </div>
    </div>
</section>

<style>
    .products__container > p {
        font-size: 20px;
    }
    @media screen and (max-width: 767px) {
        .products__container > p {
            font-size: 1rem;
        }

        .products__heading {
            font-size: var(--font-size-lg);
        }
    }
</style>
