---
import Card from './Card.astro'
---

<section class="products">
    <div class="l-wrapper">
        <div class="products__container l-container">
            <h2 class="products__heading text-center font-bold">製品・サービス紹介</h2>
            
            <div class="products__card py-6">
                <div class="">
                    <Card
                        imgSrc="/assets/image/products_service_img_01.jpg"
                        alt=""
                        text="農業の未来と革新的デザイン性で最新鋭の機能を完備"
                        className="products__card-item products__card-item--01 flex"
                    />

                    <Card
                        imgSrc="/assets/image/products_service_img_02.jpg"
                        alt=""
                        text="ビッグデータを駆使して、省電力・効率化を実現"
                        className="products__card-item products__card-item--02 flex"
                    />
                </div>
                <div>
                    <Card
                        imgSrc="/assets/image/products_service_img_03.jpg"
                        alt=""
                        text="農業の未来と革新的デザイン性で最新鋭の機能を完備"
                        className="products__card-item products__card-item--03 flex"
                    />

                    <Card
                        imgSrc="/assets/image/products_service_img_04.jpg"
                        alt=""
                        text="ビッグデータを駆使して、省電力・効率化を実現"
                        className="products__card-item products__card-item--04 flex"
                    />

                    <Card
                        imgSrc="/assets/image/products_service_img_05.jpg"
                        alt=""
                        text="自動運転技術を搭載したロボットで一年中稼働することができる"
                        className="products__card-item products__card-item--05 flex"
                    />
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .products__container{
        padding-block:4rem ;
    }
    .products__heading{
        font-size: 1.75rem;
    }
</style>